.side-nav {
  height: 94vh;
  background-color: rgb(0, 0, 0);
  background-color: rgb(66, 53, 57, 0.2);
}

.side-nav a {
  color: white;
}

.side-nav-item {
  padding: 15px;
  padding-left: 20px;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

  -webkit-transition: padding-left 0.5s ease-out;
  -moz-transition: padding-left 0.5s ease-out;
  -o-transition: padding-left 0.5s ease-out;
  transition: padding-left 0.5s ease-out;
}

.side-nav-item-active {
  padding: 15px;
  padding-left: 40px;
  background-color: #E8945F;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

  -webkit-transition: padding-left 0.3s ease-out;
  -moz-transition: padding-left 0.3s ease-out;
  -o-transition: padding-left 0.3s ease-out;
  transition: padding-left 0.3s ease-out;
}

.side-nav-col-1 {
  padding-left: 0rem;
}

.side-nav-col-2 {
  padding-right: 0rem;
}

.top-nav-bar {
  height: 6vh;
  background-color: rgb(0,0,0);
  background-color: rgb(66, 53, 57, 0.7);
}

.nav-bar-brand {
  padding: 0 100px;
  font-size: 1.2rem;
  font-weight: 550;
}

.top-nav-bar .brand-1 {
  padding-left: 5rem;
  color: #E8945F;
}

.top-nav-bar .brand-2 {
  color: #ffffff;
  
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
.top-nav-bar .brand-2:hover {
  color: #E8945F;
}