.bg-image {
  background-image: url('./assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(35px);
  -webkit-filter: blur(35px);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 100vh;
  height: 100vh;

  transform: scale(1.1);
}

Layout {
  height: 100%;
}